<ion-view title="MailGapp Form Detail"  class="card-bg">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
<div ng-if="mailgap.id">
    <ion-content has-header="true" padding="true">
		
		<form id="form">
        
        <table style="width:100%">
		  <tr>
		    <td>United States Postal Service®
				<b>Application for Delivery of Mail Through Agent 1.</b> 
				Date See Privacy Act Statement on Reverse
			</td>
		    <td>Date : <p>{{mailgap.mg_date__c}}</p></th>
		  </tr>
		  <tr>
		  <td colspan="2">
		  	In consideration of delivery of my or our (firm) mail to the agent named below, the addressee and agent agree: </br>
		  	(1) the addressee or the agent must not file a change of address order with the Postal Service TM upon termination of the agency relationship;</br> 
		  	(2) the transfer of mail to another address is the responsibility of the addressee and the agent; </br>
		  	(3) all mail delivered to the agency under this authorization must be prepaid with new postage when redeposited in the mails;</br> 
		  	(4) upon request the agent must provide to the Postal Service all addresses to which the agency transfers mail; and </br>
		  	(5) when any information required on this form changes or becomes obsolete, the addressee(s) must file a revised application with the Commercial Mail Receiving Agency (CMRA).</br>
			<b>NOTE:</b> The applicant must execute this form in duplicate in the presence of the agent, his or her authorized employee, or a notary public. The agent provides the original completed signed PS Form 1583 to the Postal Service 
			and retains a duplicate completed signed copy at the CMRA business location. The CMRA copy of PS Form PS 1583 must at all times be available for examination by the postmaster (or designee) and the Postal Inspection Service. The addressee and the agent agree to comply with all applicable Postal Service rules and regulations relative to delivery of mail through an agent. Failure to comply will subject the agency to withholding of mail from delivery until corrective action is taken.
			This application may be subject to verification procedures by the Postal Service to confirm that the applicant resides or conducts business at the home or business address listed in boxes 7 or 10, and that the identification listed in box 8 is valid
			</td>
		  </tr>
		</table>
        
        
        <div class="list list-inset" style="margin-top: 0px;">

            
            <button class="button button-block button-stable" ng-click="download()">
                Download
            </button>

        </div>
	</form>
    </ion-content>
    
    </div>
    
    <div ng-if="mailgap.id == ''">
	<ion-content has-header="true" padding="true">
    	<h2>No Form data found</h2>
	</ion-content>
</div>

</ion-view>
